dj-database-url==0.5.0
Django==1.11
django-bootstrap3==11.1.0
django-braces==0.2.1
django-heroku==0.3.1
django-model-utils==1.1.0
django-oauth2-provider==0.2.4
djangorestframework==3.9.1
freeze==1.0.10
logutils==0.3.3
Pillow==6.2.0
pkg-resources==0.0.0
psycopg2==2.8.3
Pygments==2.4.2
python-decouple==3.1
python-dotenv==0.10.3
pytz==2019.2
requests==1.2.0
shortuuid==0.5.0
six==1.12.0
South==0.7.6
stripe==1.9.1
whitenoise==4.1.4
